@import './styles/base.scss';
.drop-down-menu {
  position: relative;
  display: inline-block;
  width: 280px;
  &__btn {
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    display: block;
    border: none;
    background-color: rgb(151, 148, 148);
    cursor: pointer;
    text-transform: uppercase;
  }
  &__list {
    background-color: rgb(249, 249, 249);
    position: absolute;
    width: 100%;
    visibility: hidden;
    transform: scaleY(0);
    transition: all 300ms;
    transform-origin: top;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    &_expand {
      visibility: visible;
      transform: scaleY(1);
    }
  }
  &__item {
    padding: 1rem;
    &:hover {
      background-color: rgb(241, 241, 241);
    }
  }
  &__option {
    background: none;
    font-size: 1rem;
    border: none;
    width: 100%;
    text-align: left;
  }
}